.social_icons{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  align-content: center;
  align-self: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 1rem;
  position: fixed;
  bottom: 10%;
}

.social_icons a{
  padding: .5rem;
  font-size: 40px;
  color: rgb(255, 0, 212);
  
}

@media screen and (max-width: 575px) {
  .projects_btn{
    margin-top: 2rem;
  }
  .social_icons a{
    padding: 0rem;
    font-size: 30px;
    color: rgb(255, 0, 212);
    
  }
}
