.social_icons{
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  align-content: center;
  align-self: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 1rem;
  position: fixed;
  bottom: 10%;
}

.social_icons a{
    color: rgb(255, 0, 212);
}

@media screen and (max-width: 575px) {
  .projects_btn{
    margin-top: 2rem;
  }
}
