.projects-section {
  position: relative;
  padding: 6rem 0rem;
  text-align: center;
}

.external_links {
  display: none;
}

.card:hover .external_links {
  display: flex;
  flex-direction: column;
  gap: 3em;
  position: absolute;
  top: 3em;
  font-weight: 500;
}

.card {
  overflow: hidden;
  width: 22rem;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}
.card_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* transition: 1s; */
}
.card:hover .card_img {
  /* transform: scale(1.5, 1.3); */
  /* visibility: hidden; */
  z-index: -100;
}

.card:hover{
  background-color: rgba(0,0,0,0.8);
  /* color: white; */
}

.project_description {
  width: 100%;
  background-color: #6e07f3;
  padding: 4rem 2rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "europa", sans-serif;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 4rem;
  box-sizing: border-box;
}


/* .card_section {
  position: absolute;
  top: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
} */
.card_section {
  width: 100%;
  position: absolute;
  top: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0;
  margin: auto;
  /* max-width: 1200px; */
  box-sizing: border-box;
}

@media screen and (min-width: 820px) and (max-width: 960px) {
  .card {
    width: 18rem;
  }
}

@media screen and (max-width: 520px) {
  .card {
    width: 90%;
    max-width: 16rem;
  }
  .card:hover .external_links {
    gap: 2em;
    top: 1em;
  }
  .card h5{
    font-size: .9rem;
    padding: 0;
    font-weight: bold;
  }
  .external_links a{
    font-size: .8rem;
  }
}

@media screen and (max-width:560px) {
    .project_description{
        font-size: 16px;
        padding: 6rem 1rem;
        padding-top:4rem ;
      }
}
