body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-family: Roboto;
  font-style: italic;
  margin-bottom: 1em;
}

.resume img{
  width: 800px;
  height: 1200px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}
.resume a{
  position: fixed;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  top: 30%;
  right: 0%;
  /* transform: translate(-50%, -50%); */
  background-color: rgb(167, 238, 238);
  border-radius: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 890px) {
  .resume img {
    width: 95vw;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .resume a{
    right: 20%;
    top: 90%;
    bottom: 0%;
  }
}